html(ng-app='myApp')
  head
    meta(charset='utf-8') 
    // Bootstrap 3.1.1
    link(rel='stylesheet', href='lib/bootstrap/dist/css/bootstrap.min.css')
    link(rel="stylesheet", href="lib/jquery-ui/themes/smoothness/jquery-ui.css")
    // Font Awesome
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css')
    // 
    link(rel='stylesheet', href='lib/kendo-ui/styles/web/kendo.common.core.min.css')
    link(rel='stylesheet', href='lib/kendo-ui/styles/web/kendo.default.min.css')
    link(rel='stylesheet', href='demo.css')
    // setting
    script(src='data/profile.js')
    // jQuery
    script(src='lib/jquery/jquery.min.js')
    // async
    script(src='lib/async/lib/async.js')
    // Bootstrap
    script(src='lib/bootstrap/dist/js/bootstrap.min.js')
    script(src='lib/jquery-ui/ui/minified/jquery-ui.min.js')
    // Three.JS r66
    script(src='lib/threejs/build/three.min.js')
    // AngularJS
    script(src='lib/angular/angular.min.js')
    // Angular-Kendo
    script(src='lib/kendo-ui/js/kendo.ui.core.min.js')
    script(src='lib/angular-kendo/build/angular-kendo.min.js')
    // ui-slider
    script(src='lib/angular-ui-slider/src/slider.js')
    // Loader & controls
    script(src='loaders/STLLoader.js')
    script(src='controls/TrackballControls.js')
    // angular-threejs-viewer
    script(src='angular-3d-viewer.js')
    // Demo app logic
    script(src='app.js')
  body(ng-controller='myCtrl', style='display:none')
    div(id='dialog', title='關於我們')
      a(href='https://www.facebook.com/sovtw?focus_composer=true&ref_type=bookmark', target='_new')
        img(src='images/logo.jpg', style='height: 100%;')
    ul(kendo-menu k-orientation="'horizontal'")
      li 檔案
        ul
          li 
            a(href='data/analysis.pdf', target='_new') 評估文件
          li 離開
      li 播放 
        ul
          li(ng-click='init()') 全部重置
          li(ng-click='firstStep()') 最初階段
          li(ng-click='lastStep()') 上一階段
          li(ng-click='nextStep()') 下一階段
          li(ng-click='finalStep()') 最後階段
          li(ng-click='play()') 播放
      li 上下顎
        ul
          li(ng-click='toggleTop()')
            i.fa.fa-check(ng-show='showTop')
            | 上顎
          li(ng-click='toggleBtm()')
            i.fa.fa-check(ng-show='showBtm')
            | 下顎
      li 牙肉分離
        ul
          li(ng-click='toggleTeeth()')
            i.fa.fa-check(ng-show='showTeeth')
            | 牙齒
          li(ng-click='toggleJaw()') 
            i.fa.fa-check(ng-show='showJaw')
            | 牙肉
      li 視角 
        ul
          li(ng-click='viewFromFront()') 前視角
          li(ng-click='viewFromBack()') 後視角
          li(ng-click='viewFromLeft()') 左視角
          li(ng-click='viewFromRight()') 右視角
          li(ng-click='viewFromTop()') 上視角
          li(ng-click='viewFromBottom()') 下視角
      li 特殊
        ul
          li(ng-click='init()') 標準模式
          li(ng-click='toggleSplit()') 張口模式
          li(ng-click='toggleProtho()') 贋復物預測
      li
        a(href="https://docs.google.com/forms/d/1IYhvYOzikuBsMsItd8C5p9gdz8_Axmz8k2XzW2DeaeM/viewform?entry_759069892={{profile.name}}&entry_1604151979={{profile.clinic}}&entry_742818928={{profile.doctor}}", target='_new') 下單資料填寫

    div(style='position: absolute; right: 0%; width: 120px;')
      img(style='width: 100px', src='images/pt.jpg')
      p 編號 : {{profile.id}}
      p 姓名 : {{profile.name}}
      p 診所 : {{profile.clinic}}
      p 醫師 : {{profile.doctor}}
    
    ul.list-group(style='position: absolute; left: 0%; width: 120px;')
      li.list-group-item
        a(ng-click='allWhite()') 全部白色
      li.list-group-item(ng-repeat='mesh in meshs') 
        i.fa.fa-eye(ng-show='step_visible[$index]', ng-click='toggleStepHide($index)')
        i.fa.fa-eye-slash(ng-show='!step_visible[$index]', ng-click='toggleStepShow($index)')
        &nbsp;
        a(ng-show='$first', href='#', ng-click='onlyStepShow($index)') Origin
        a(ng-show='!$first && !$last', href='#', ng-click='onlyStepShow($index)') Step-{{$index}}
        a(ng-show='$last', href='#', ng-click='onlyStepShow($index)') Final
        &nbsp;
        select(class='selectColor', name='myColor', ng-model='myColor', ng-options='color.name for color in colors', ng-change='changeColor(myColor, $index)') {{myColor}}
    viewer
    .well(style='width: 100%; margin: auto;')
      div(ui-slider='slider.options', min='0', max='{{step_num-1}}', ng-model='step_anchor')
      p(ng-show='step_anchor==0') Origin
      p(ng-show='step_anchor!==0 && step_anchor!==step_num-1') Step-{{step_anchor}} : {{profile.analysis[step_anchor]}}
      p(ng-show='step_anchor==step_num-1') Final : {{profile.analysis[step_anchor]}}
   