html(ng-app='myApp')
  head
    meta(charset='utf-8') 
    // Bootstrap 3.1.1
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    // Font Awesome
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css')

    link(rel='stylesheet', href='demo.css')
  body
    .container
      .row.panel.panel-default.panel-body
        .col-md-2
          h6 客戶資料
          img(style='width: 100px', src='images/pt.jpg')
        .col-md-2
          h6 資訊
          p 編號 : {{data.id}}
          p 姓名 : {{data.name}}
          p 診所 : {{data.clinic}}
          p 醫師 : {{data.doctor}}
        .col-md-3
          h6 矯正階段: step {{step_anchor}}
          ul.pagination(style='margin: 0;')
            li(ng-repeat='mesh in meshs') 
              a(href='#', ng-click='showStep($index)') {{$index}}
          h6 播放選項
          .btn-group
            button.btn.btn-default(ng-click='init()')
              i.fa.fa-reply.fa-fw
            button.btn.btn-default(ng-click='lastStep()')
              i.fa.fa-step-backward.fa-fw
            button.btn.btn-default(ng-disabled='playStep', ng-click='play()')
              i.fa.fa-play.fa-fw
            //- button.btn.btn-default(ng-show='playStep',ng-click='stop()')
            //-   i.fa.fa-pause.fa-fw
            button.btn.btn-default(ng-click='nextStep()')
              i.fa.fa-step-forward.fa-fw
          h6 切換視角
          .btn-group
            button.btn.btn-default.btn-sm(ng-click='viewFromFront()') Front
            button.btn.btn-default.btn-sm(ng-click='viewFromBack()') Back
            button.btn.btn-default.btn-sm(ng-click='viewFromLeft()') Left
            button.btn.btn-default.btn-sm(ng-click='viewFromRight()') Right
            //- button.btn.btn-default.btn-sm(ng-click='viewFromTop()') Top
            //- button.btn.btn-default.btn-sm(ng-click='viewFromBottom()') Bottom
        .col-md-3
          h6 上下顎模式
          .btn-group
            button.btn.btn-default.btn-sm(ng-click='toggleTop()') toggleTop
            button.btn.btn-default.btn-sm(ng-click='toggleBtm()') toggleBtm
          h6 牙肉分離
          .btn-group
            button.btn.btn-default.btn-sm(ng-click='toggleTeeth()') toggleTeeth
            button.btn.btn-default.btn-sm(ng-click='toggleJaw()') toggleJaw
          h6 其他選項
          .btn-group
            button.btn.btn-default(ng-click='toggleSplit()')
              | 張口模式
            a.btn.btn-default(href='demo.pdf', target='_new')
              | 開啟評估文件
            a.btn.btn-default.btn-sm(href='javascript:window.close();') 
              | 關閉視窗
        .col-md-2
          img(style='width: 120%; margin-left: -20%', src='images/logo.jpg')
      .row.panel.panel-default.panel-body
        .col-md-12
          viewer
        
    // jQuery
    script(src='lib/jquery/dist/jquery.min.js')
    script(src='lib/async/lib/async.js')
    // Bootstrap
    script(src='lib/bootstrap/dist/js/bootstrap.min.js')
    // Three.JS r61
    script(src='http://cdnjs.cloudflare.com/ajax/libs/three.js/r66/three.min.js')
    // AngularJS 1.2.10
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.js')
    // Loader for the jeep
    script(src='loaders/STLLoader.js')
    script(src='controls/TrackballControls.js')
    // angular-threejs-viewer
    script(src='angular-3d-viewer.js')
    // Demo app logic
    script(src='app.js')